DISTRO=almalinux
DIB_RELEASE=9
DIB_ELEMENTS="almalinux vm block-device-efi cloud-init grub2 dhcp-all-interfaces autoupdates"
OUTPUT=almalinux-9
TYPE=qcow2
ARCH=amd64
PACKAGES=""
CUSTOM_ELEMENTS=""
DIB_YUM_UPDATES_CONF="$REPO_ROOT/images/almalinux-9/automatic.conf"
export DIB_NO_TMPFS=1
export DIB_DISABLE_KERNEL_CLEANUP=1
SSH_PORT=2222
VNC_DISPLAY=:5
MEM_MB=2048
SMP=2
UEFI_CODE=/usr/share/OVMF/OVMF_CODE_4M.secboot.fd
UEFI_VARS_TEMPLATE=/usr/share/OVMF/OVMF_VARS_4M.ms.fd
